.page-title
  %h1= @event.name

%div= notice

%div
  %ul
    %li Total
    %li= link_to 'List of candidates', event_candidates_path(@event)
    %li= link_to 'List of voters', event_voters_path(@event)
