%h1 #{@event.name} の投票者一覧

%table.table
  - @voters.each do |voter|
    %tr
      %td
        = image_tag voter.member.image, alt: voter.member.nickname, size: '40x40'
        %span= voter.member.nickname
