%h1 集計画面
%p 現在の集計状況はこちらです！

- # NOTE vote_result は、Vote の情報と member の情報がほしい。
- # { image: 'http://...', nickname: 'foo', total: 123, comments: [ 'so good!', 'nice' ] }
- @vote_results.each do |vote_result|
  .vote-result
    .panel.panel-default
      .panel-heading
        = image_tag vote_result[:image], alt: vote_result[:nickname],
                    size: '40x40', class: 'vote-result__avatar-image'
        %span.vote-result__nickname
          = vote_result[:nickname]
        %span.vote-result__total
          = vote_result[:total]
          票
      .panel-body
        %ul
          - vote_result[:comments].each do |comment|
            %li.vote-result__comment
              = comment
