!!!
%html
  %head
    %title 500 – Internal Server Error
    %meta(name='viewport' content='width=device-width,initial-scale=1' charset='UTF-8')
    = stylesheet_link_tag 'error', media: 'all'
  %body
    .dialog
      %div
        %h1 500 – Internal Server Error
        %p 一時的なエラーが発生しました。
        %p ページが表示できません。
        %p しばらく時間を置いてもご覧いただけない場合、
        %a{:href => "https://twitter.com/yochiyochirb/"} Kajaeru管理者
        まで問い合わせください。
        %p
      %p
        %a{:href => "/"} ホームに戻る
