%h1 Vote Kaja of yochiyochirb! Kajaeru!

= image_tag "yochi_rabbit.jpg", alt: "よちよち.rb", width: 500

- if current_user
  = link_to 'Sign out', '/signout'
- else
  = link_to 'Sign in with Github', '/auth/github'
